<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Express Tweets</title>
    </head>
    <body>
{{!-- Buttons to all Users & all Tweets --}}
        <button onclick="location.href='http://localhost:3000/users'" type="button">Back to Users</button>
        <button onclick="location.href='http://localhost:3000/tweets'" type="button">Back to Tweets</button>

{{!--Display Tweet Details  --}}
        <h1>Tweet</h1>
        <p>Tweet: {{tweet.post}}</p>
        <p>Posted at: {{tweet.createAt}}</p>
        <p>User: <a href="/users/{{tweet.user._id}}">{{tweet.user.name}}</a></p>

{{!-- Comment Create Form --}}
        <form method="POST" action="/comments/{{tweet._id}}">
            <div>
                <textarea name="body"></textarea>
            </div>
            <input type="submit" value="Add Comments" />
        </form>

{{!-- Display all comments on Tweet --}}
        <ul>
            {{#each tweet.comments}}
            <li>{{this.body}} - {{this.createAt}}</li>
            {{/each}}
        </ul>
    </body>

</html>